name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f "app_code/requirements.txt" ]; then pip install -r app_code/requirements.txt; fi
        pip install xmlrunner

    - name: Run tests and save XML results
      run: |
        mkdir -p test-results
        python -m xmlrunner discover -s app_code/tests -o test-results

    - name: List test-results folder
      run: ls -la test-results

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: test-results/
