name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f app_code/requirements.txt ]; then pip install -r app_code/requirements.txt; fi

    - name: Run tests
      run: |
        export PYTHONPATH=$PYTHONPATH:./app_code
        python -m unittest discover -s app_code/tests -p "test_*.py"
